@charset 'utf-8';

@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* 기본 pc버전 960px이상 스타일 */

body{font-family: 'Gothic A1', sans-serif;}
.content{width: 93.75%; max-width: 1400px; margin: 0 auto;}

/* 스킵 메뉴 */
.skip_menu{background:linear-gradient(90deg, red,orange,yellow,green,blue,navy,purple);
    text-align:center;padding:10px;position:absolute;top:-100%;left:0;width:100%;transition:0.3s;
    z-index: 999;}
.skip_menu.active{top:0}
.skip_menu>p>a{color: white;font-weight: 600;font-size: 20px;}
.skip_menu>p>a:hover{text-decoration: underline;}

/* 헤더 */
.header{position: relative; background-color: black;}
/* .header::before{content: ''; display: block; width: 100%; height: 120px;
    background: url(../images/n-top-banner.jpg) no-repeat;} */
.header a{color: white; color: rgba(255,255,255,0.7)}

.nav{display:flex;flex-flow:column nowrap;}
.nav .article>.content,.nav .article>.content>ul{display: flex; justify-content: space-between;
    align-items: center;}

.logo{position: absolute; top: 50%; left: 47%;}
.logo #tgl_nav_btn{position: absolute;top:30%;right:3%;width:26px;height: 20px; cursor: pointer;
    display:flex; flex-flow:column nowrap;justify-content: space-between; display: none;}
.logo #tgl_nav_btn li{height:2px;background-color: white;transition: 0.3s;}
.logo #tgl_nav_btn.active li{position: absolute;top:10px;left:0;height:2px;width:100%;}
.logo #tgl_nav_btn.active li:nth-child(1){transform: rotate(45deg);}
.logo #tgl_nav_btn.active li:nth-child(2){background-color: transparent;}
.logo #tgl_nav_btn.active li:nth-child(3){transform: rotate(-45deg);}

.small_nav{border-bottom: 1px solid rgba(255,255,255,0.3);}
.small_nav:last-child{border-bottom: none;}
.small_nav>.content{height: 34px;}
.small_nav ul:first-child li{padding-right: 20px;}
.small_nav ul:last-child li{padding-left: 20px;}
.small_nav a{font-size: small;}
.small_nav a:hover{color: white;}

.search{width: 30px; height: 20px; position: relative; cursor: pointer; margin-left: 35px;}
.search::before{content:'';display:block;width:12px;height:12px;border:2px solid #999;
    border-radius:50%;position:absolute;top:0;left:-40%;}
.search::after{content:'';display:block;width:8px;height:2px;background-color:#999;
    transform:rotate(45deg);position:absolute;bottom:15%;left:0%;}

.large_nav{order: 2;}
.large_nav a{font-size: large;}
.large_nav>.content{height: 56px;}
.large_nav>.content>ul>li{padding: 17px 35px;}
.large_nav>.content>ul>li.active{background-color: white;}
.large_nav>.content>ul>li.active>a{color: black !important;}
.large_nav>.content>ul:first-child li a{color: white; font-weight: bolder;}

.large_nav>.content>ul:last-child>li{padding: 17px 15px;}
.large_nav>.content>ul:last-child>li a{font-size: medium; font-weight: 500;}

.car_list{position:absolute;left:50%;top:100%;transform:translateX(-50%); background-color:white;
    display: none; z-index: 99;}
.car_list.active{display: block;}
.car_list>li{display: flex; flex-flow: row wrap; justify-content: center;}
.car_list>li:first-child{border-bottom: 1px solid #999; }
.car_list>li:first-child>p{display:flex;flex-flow:row wrap;justify-content: center;align-items: center;
    height: 80px; margin-right: 20px;}
.car_list>li:first-child>p>input{display: none;}
.car_list>li:first-child>p::before{content:'';display:inline-block;width: 18px; height: 18px; 
    background-image:url(../images/sp_nav_radio.webp); margin-right: 10px;}
.car_list>li:first-child>p>label::before{content:'';display:inline-block;width: 48px; height: 24px; 
    background-image: url(../images/sp_nav_backimg.webp); margin-right: 6px;}
.car_list>li:first-child>p:nth-child(1)>label::before{background-position-y: 0px;}
.car_list>li:first-child>p:nth-child(2)>label::before{background-position-y: -24px;}
.car_list>li:first-child>p:nth-child(3)>label::before{background-position-y: -48px;}
.car_list>li:first-child>p:nth-child(4)>label::before{background-position-y: -72px;}
.car_list>li:first-child>p:nth-child(5)>label::before{background-position-y: -96px;}
.car_list>li:first-child>p.active::before{background-position-x: -18px;}
.car_list>li:first-child>p.active>label::before{background-position-x: -49px;}
.car_list>li:first-child>p.active>label{color: red; font-weight: bold;}

.car_list>li:last-child{justify-content: space-around;}
.car_list>li:last-child>p{padding: 20px 0;width: 18%; text-align: center;}
.car_list>li:last-child>p img{width: 100%;cursor: pointer; transition: 0.3s;}
.car_list>li:last-child>p span{font-size: 16px; font-weight: bold;cursor: pointer;}
.car_list>li:last-child>p:hover span{color: red; text-decoration: underline;}
.car_list.active>li:last-child>p{animation-name: car_rotate; animation-duration: 0.4s;}

@keyframes car_rotate{
    0%{transform: rotateY(0deg);}
    50%{transform: rotateY(180deg);}
    100%{transform: rotateY(360deg);}
}

.sub_nav{position:absolute; top: 100%; left: 50%; transform: translate(-50%);
    display: flex; flex-flow: row wrap; background-color: white; padding: 30px 60px;
    display: none;  z-index: 99;}
.sub_nav>li{width: 25%; padding: 10px 0;}
.large_nav>.content>ul>li>.sub_nav>li>a{color: black; font-weight: 600;font-size: 14px;}
.sub_nav>li>a:hover{color: red; text-decoration: underline;}
.sub_nav.active{display: flex;}


/* 메인 배너 */

.main_banner{position: relative;}
.main_box{position:relative;}
.main_slider_img{display:flex;justify-content: center;align-items: center;}
.main_slider_txt{position: absolute;left:0;top:0;width:100%;padding-top:20px;
  display:flex;flex-flow:column nowrap;justify-content:space-evenly;align-items:center;}
.main_slider_txt>h2{margin:20px 0;font-size:xx-large;text-align:center;
  text-shadow:1px 1px 2px rgba(255,255,255,0.3);}
.main_slider_txt>h2.color_white{text-shadow:1px 1px 2px rgba(0,0,0,0.3); color: white;}
.main_slider_txt>a{border:1px solid #000000;padding:10px 30px 6px;font-size:large;}
.main_slider_txt>a:hover{color:#ffffff;background-color:#000000;}
.main_slider_txt>a.color_white{border-color:#ffffff; color: white;}
.main_slider_txt>a.color_white:hover{color:#000000;background-color:#ffffff;}

.main_slider_img>img{width:100%;}
.swiper-button-prev, .swiper-button-next{color:#ffffff;}
.swiper-pagination-fraction,.swiper-pagination-custom,.swiper-container-horizontal>.swiper-pagination-bullets{
  bottom:120px;}
.swiper-pagination-bullet{width:12px;height:12px;background-color:#ffffff;opacity: 0.5;
  margin:0 12px !important;border-radius:6px;transition:0.3s;}
.swiper-pagination-bullet-active{opacity: 1;width:50px;}

.start_stop_btn{position: absolute;left:50%;top:50%;transform:translate(-50%,-50%);z-index:50;}
.start_stop_btn>button{position: relative;width:100px;height:100px;
  border-radius:50%;background-color:rgba(0,0,0,0.3);cursor: pointer;text-indent:-99999px;
  display:none;}
.start_stop_btn>button#start_btn::before{position: absolute;left:50%;top:50%;transform:translate(-15%,-50%);
  content:'';width:0px;height:0px;border:24px solid transparent;border-left-color:#ffffff;}
.start_stop_btn>button#stop_btn{display:block;}
.start_stop_btn>button#stop_btn::before,.start_stop_btn>button#stop_btn::after{
  position: absolute;left:58%;top:50%;transform:translate(-15%,-50%);
  content:'';width:4px;height:36px;background-color:#ffffff;}
.start_stop_btn>button#stop_btn::before{left:36%;}
.main_banner .start_stop_btn{display:none;}
.main_banner:hover .start_stop_btn{display:block;}

.quick_nav_box{position:absolute;left:50%;bottom:0;z-index:50;transform:translate(-50%,50%);
  background-color:#ffffff;}
  
.quick_nav{display:flex;flex-flow:row nowrap;box-shadow:0 0 10px 10px rgba(0,0,0,0.1);}
.quick_nav>li{ width:180px;height:180px;
  border-bottom:1px solid rgba(0,0,0,0.2);border-right:1px solid rgba(0,0,0,0.2);
  display:flex;flex-flow:column nowrap;justify-content:center;align-items:center;transition:0.3s;}
.quick_nav>li::before{content:'';width:50px;height:50px;display:block;
  background-image:url('../images/sp_banner_backimg.webp');}
.quick_nav>li>p{font-size:large;}
.quick_nav>li.quick_list01{border-left:1px solid rgba(0,0,0,0.2);}
.quick_nav>li.quick_list01::before{background-position-x:0px;}
.quick_nav>li.quick_list02::before{background-position-x:-50px;}
.quick_nav>li.quick_list03::before{background-position-x:-100px;}
.quick_nav>li.quick_list04::before{background-position-x:-150px;}
.quick_nav>li.quick_list05::before{background-position-x:-200px;}
.quick_nav>li:hover{background-color:#d70f26;}
.quick_nav>li:hover::before{background-position-y:-50px;}
.quick_nav>li:hover>p{color:#ffffff;}

/* 베스트 기아 */
.best_kia{margin:150px 0 100px;}
.best_kia>.best_kia_slider{padding-bottom:40px;}
.best_kia>h2,.event_kia>h2,.channel_kia>h2{
    font-weight: 900; font-size: xx-large; text-align: center; padding-bottom: 20px;}
.best_kia>h2>span,.event_kia>h2>span,.channel_kia>h2>span{
    font-size: xx-large; color: #d70f26;}

.best_kia_slider_img>img{width:100%;}
.best_kia_slider_txt>h3{font-size: x-large; text-align: center; font-weight: 500;}
.best_kia_slider_txt>p{text-align: center;}
.best_kia_slider_txt>p>span:first-child{color: #d70f26;}
.best_kia_slider_txt>p>span:nth-child(2n+1){padding:0 2px;}
.best_kia_slider_txt>p>span:nth-child(2n){ text-indent: -99999px; width: 1px; 
  background-color:rgba(255,255,255,0.2);}

.best_kia .swiper-pagination.swiper-pagination-bullets{bottom: 0;}
.best_kia .swiper-pagination-bullet{background-color:#999999;}
.best_kia .swiper-pagination-bullet-active{background-color:#d70f26;}
.best_kia .swiper-button-prev,.best_kia .swiper-button-next{color:#666;}
.best_kia .swiper-button-prev{left:6%;}
.best_kia .swiper-button-next{right:6%;}

.best_kia .swiper-slide img{opacity:0.5;transition:0.5s;}
.best_kia .swiper-slide-active img{opacity:1;transform:scale(1.2);}
.best_kia .swiper-slide-prev img,.best_kia .swiper-slide-next img{opacity:1;}
.best_kia .swiper-slide-prev img:hover,.best_kia .swiper-slide-next img:hover{
    transform:scale(1.05);}


/* 이벤트 기아 */

.event_channel{display: flex; flex-flow: row nowrap; justify-content: space-between;
    padding:0 0 10%; padding-left: 5%; padding-right: 3%;}

.event_channel>.event_kia{width: 50%; height: 500px;}

.event_channel>.channel_kia{width: 40%; margin-top: 100px;}

.event_channel h2{text-align: left;}
.event_kia .event_kia_slider_txt{padding-left: 50px;}
.event_channel h3{font-size: x-large; padding: 20px 0 0;color: rgba(0,0,0,0.8);}
.event_kia p{padding-top: 15px;}
.event_kia p span{color: rgba(0,0,0,0.6);}
.event_kia p span:first-child{font-weight: 900;}
.event_kia_slider_img,.channel_kia_slider_img{width: 100%; overflow: hidden;}
.event_channel img{width: 100%;}
.event_kia .swiper-pagination.swiper-pagination-bullets{bottom: 100px;}
.channel_kia .swiper-pagination.swiper-pagination-bullets{bottom: 80px;}
.event_channel .swiper-pagination{text-align: right;}
.event_channel .swiper-pagination-bullet{background-color:white; opacity: 1;
    box-shadow: 0px 0px 1px 1px black;}
.event_channel .swiper-pagination-bullet-active{background-color:#d70f26;}
.event_channel .swiper-button-prev, .event_channel .swiper-button-next{
    opacity: 0;}
.event_kia:hover .swiper-button-prev, .event_kia:hover .swiper-button-next{opacity: 1;}
.channel_kia:hover .swiper-button-prev, .channel_kia:hover .swiper-button-next{opacity: 1;}

.channel_kia_slider_txt span{display: inline-block; box-sizing: border-box; vertical-align: 2px;
    padding: 7px 10px 3px; border: 1px solid black; margin: 0 10px 0 2px;}
.event_kia:hover h3,.channel_kia:hover h3{text-decoration: underline;}

/* 유투브 */
.you_tube{display:flex;flex-flow:row wrap;justify-content: flex-end; padding-bottom: 15%;
    position: relative;}
.you_tube>h2{width:100%;text-align:left;font-size: xx-large;}
.you_tube>h2>span{color: #d70f26; font-size: xx-large;}
.you_tube>.you_tube_link{width:59.976%;height:37.75vw; max-height: 500px;
    position:absolute;left:0;top:60px;z-index:10;}
.you_tube>.you_tube_link>iframe{width:100%;height:100%;}
.you_tube>.you_tube_txt{width:100%; background-color: rgba(0,0,0,0.1);
    margin-top: 8%; padding: 5%; padding-left: 65%;}
.you_tube>.you_tube_txt h3{font-size: x-large; color: rgba(0,0,0,0.8); margin: 20px 0;}
.you_tube>.you_tube_txt p{color: rgba(0,0,0,0.8);}
.you_tube>.you_tube_txt span{font-weight: 900;}
.you_tube>.you_tube_txt span a{color: rgba(0,0,0,0.6);}
.you_tube>.you_tube_txt span a:hover{text-decoration: underline;}

/* 뉴스, 노티스 */

.news_notice{display: flex; flex-flow: row wrap; padding-bottom: 10%;}
.news_notice h3{font-size: x-large; font-weight: 900;}
.news_notice h5{font-size: large;}
.news_notice p{padding: 20px 0 10px; color: rgba(0,0,0,0.8);}
.news_notice>.kia_news{width: 55%; padding: 0 20px;}
.news_notice>.notice{width: 45%;padding: 0 5%;}
.kia_news_slider{padding-top: 30px; cursor: pointer;}
.kia_news_slider .swiper-pagination{top: 0px;}
.kia_news_slider_img{width: 100%; overflow: hidden;}
.kia_news_slider_img img{width: 100%;}
.notice h3{padding-bottom: 30px;}
.notice h4{font-size: large; font-weight: normal;}
.notice_txt{display: flex; flex-flow: row wrap;}
.notice_txt>li{width: 50%; padding: 20px; border: 1px solid rgba(0,0,0,0.2);cursor: pointer;}
.notice_txt>li:hover{background-color: #d70f26;}
.notice_txt>li:hover h4,.notice_txt>li:hover p{color: white;}
.notice_txt>li:nth-child(2n+1){border-right:none;}
.notice_txt>li:nth-child(1),.notice_txt>li:nth-child(2){border-bottom: none;}

.news_notice .swiper-pagination-bullet{background-color:#999999;}
.news_notice .swiper-pagination-bullet-active{background-color:#d70f26;}
.kia_news_slider .swiper-button-prev,.kia_news_slider .swiper-button-next{
    opacity: 0;}
.kia_news_slider:hover .swiper-button-prev,.kia_news_slider:hover .swiper-button-next{
    opacity: 1;}

/* 푸터 */
.footer{background-color: rgba(0,0,0,0.8);}
.footer,.footer div,.footer p,.footer a,.footer span,.footer li,.footer h5{
    color: white; font-size: small;}
.footer_top{display: flex;flex-flow: row nowrap; justify-content: space-between; align-items: center;
    height: 80px; padding: 0 10px;}
.footer a:hover{text-decoration: underline;}
.footer_hr{width: 100%; height: 1px; background-color: rgba(255,255,255,0.2);}
.footer_top_left{display: flex;flex-flow: row nowrap; justify-content: flex-start;}
.footer_top_left p{text-indent: -99999px; background-image: url(../images/sp_sns_backimg.webp);
    width: 44px; height: 44px; margin-right: 10px; cursor: pointer;}
.footer_top_left p:nth-child(2){background-position-x: -44px;}
.footer_top_left p:nth-child(3){background-position-x: -88px;}
.footer_top_left p:nth-child(4){background-position-x: -175px;}
.footer_top_left p:nth-child(5){background-position-x: -219px;}
.footer_top_left p:nth-child(6){background-position-x: -264px;}
.footer_top_right{display: flex;flex-flow: row nowrap; justify-content: flex-end;}
.footer_top_right div{height: 38px; line-height: 38px;}
.footer_top_right div:nth-child(1){margin-right: 16px;}
.footer_top_right div:nth-child(2){margin-right: 30px;}
.footer_top_right div:nth-child(3){border:1px solid white; width: 200px; text-align: center;
    position: relative; cursor: pointer;}
.footer_top_right div:nth-child(3)::after{position: absolute; content: '^'; display: block; 
    font-size: xx-large;right: 10px; top: 10px; font-weight: 200;}
.footer_top_right div:nth-child(3):hover{background-color: rgba(255,255,255,0.1); text-decoration: underline;}
.footer_top_right div img{vertical-align: middle;}
.footer_top_right div:nth-child(3)>span{font-size: large;}

#footer_tgl_btn{position: relative;}
#footer_tgl_btn>ul{position:absolute;left:-1px;bottom:100%;width:200px;height: 200px;
    background-color:#333;border:1px solid white;z-index: 11; display: none;
    overflow-x:hidden;overflow-y:scroll;}
#footer_tgl_btn>ul>li{line-height: 35px;}

.footer_middle{display: flex; flex-flow: row nowrap; padding: 30px 10px;}
.footer_middle h5{font-size: large; padding-bottom: 10px;}
.footer_middle a,.footer_middle span,.footer_middle p,.footer_middle li{
    color: rgba(255,255,255,0.5); font-size: small; font-weight: lighter;}
.footer_middle span{color: rgba(255,255,255,0.7);font-weight: normal;}
.footer_middle li{padding-bottom:10px;}
.footer_middle_left{flex: 35;display: flex; flex-flow: row wrap;}
.footer_middle_left>ul{flex: 1;}
.footer_middle_right{flex: 65; padding-left: 10px;}
.service>li{display: inline-block;}
.award{display: flex; flex-flow: row wrap;}
.award>h5{width: 100%;}
.award>li{width: 50%; display: flex; flex-flow: row nowrap; padding-bottom: 10px;}
.award img{padding-right:10px;}
.award>li>p:nth-child(2){display:flex;align-items:center;}

.footer_bottom{display: flex; flex-flow: row wrap; padding: 20px 10px;}
.footer_bottom p{display: inline-block;}
.footer_bottom_left{padding-right:50px}
.footer_bottom div,.footer_bottom p,.footer_bottom a{color: rgba(255,255,255,0.5);}
.footer_bottom_right p{margin-right: 5px;}




/* ================================================ */
/* pc 1200px 이하 */
/* ================================================ */
@media(max-width:1200px){
    .content{width: 100%;}
    .large_nav>.content>ul:first-child li{padding-left:28px;padding-right:28px;}
    .large_nav>.content>ul:last-child li{padding-left:12px;padding-right:12px;}
    .logo{left: 45%;}
    .event_kia .swiper-pagination.swiper-pagination-bullets{bottom: 120px;}

}

/* ================================================ */
/* pc 1100px 이하 */
/* ================================================ */
@media(max-width:1100px){
    .large_nav>.content>ul:first-child li{padding-left:15px;padding-right:15px;}
    .large_nav>.content>ul:last-child li{padding-left:8px;padding-right:8px;}
    .logo{left: 42%;}
    .search{margin-left: 20px;}
    .search::before{left:0%;}
    .search::after{left:40%;}
    .car_list>li:last-child>p{width: 23%;}
    .event_kia>h2,.channel_kia>h2,.event_kia>h2>span,.channel_kia>h2>span{font-size: x-large;}
    .event_kia .event_kia_slider_txt{padding-left: 0px;}
    .event_channel h3{font-size: large;}
    .event_kia p{padding-top: 0px;}
    .event_kia p span{font-size: small;}
    .channel_kia_slider_txt span{font-size: x-small;padding: 5px 6px 1px;}
    .event_kia .swiper-pagination.swiper-pagination-bullets{bottom: 80px;}

    .you_tube{padding-bottom: 15%;}
    .you_tube>h2{font-size: x-large; padding:0 10px;}
    .you_tube>h2>span{font-size: x-large;}
    .you_tube>.you_tube_link{top:40px;}

    .news_notice{padding-bottom: 100px;}
    .news_notice>.kia_news{width: 50%}
    .news_notice>.notice{width: 50%; padding:0 20px;}
}


/* ================================================ */
/* 태블릿 960px 이하 */
/* ================================================ */
@media(max-width:959px){
    .logo{left: 1%; top: 50%;}
    .header>.nav>.article.large_nav>.content{justify-content: flex-end;}
    .large_nav>.content>ul:first-child{margin-right: 5%;}
    .large_nav>.content>ul:first-child li{padding-left:10px;padding-right:10px;}
    .large_nav>.content>ul:last-child li{padding-left:8px;padding-right:8px;}
    .large_nav>.content>ul:first-child li a{font-size: 16px;}
    .large_nav>.content>ul:last-child li a{font-size: 14px;}
    .large_nav>.content>ul>li{padding-top:18px; padding-bottom: 18px;}
    .car_list>li:first-child{display: none;}
    .car_list>li:last-child>p{width: 30%;}
    .quick_nav>li{width:140px;height:140px;}
    .quick_nav>li>p{font-size:medium;}
    .event_kia .swiper-pagination.swiper-pagination-bullets{bottom: 80px;}
    .you_tube>.you_tube_txt h3{font-size: large;}

    .footer_middle_left{flex: 2; flex-flow: column nowrap;}
    .service{padding-bottom: 20px;}
    .service,.info{flex:initial;}
    .footer_middle_right{flex: 8;}
    .footer_middle li{padding-bottom:5px;}
}

/* ================================================ */
/* 태블릿 830px 이하 */
/* ================================================ */
@media(max-width:830px){
    .large_nav>.content>ul:first-child{margin-right:0%;}

    .large_nav>.content>ul:last-child li{padding-left:6px;padding-right:6px;}
    .event_kia .swiper-pagination.swiper-pagination-bullets{bottom: 80px;}

}

/* ================================================ */
/* 모바일 770px 이하 */
/* ================================================ */
@media(max-width:769px){
    .logo{width: 100%; background-color: black; left: 0; padding: 15px 0 10px 15px;}
    .logo img{width: 50px;}
    .logo #tgl_nav_btn{display: flex;}
    
/* ============ */
    .header::before{display:block;}
    .logo{position:static;width:100%;background-color:#000000;left:0;padding:10px;}
    .logo #tgl_nav_btn{display:flex;top: 15px;}
    .logo img{width:50px;}
    .small_nav{order:2;background-color:#333333;}
    .large_nav{order:1;}
    .header .article.large_nav>.content>ul>li{border-bottom:1px solid rgba(255,255,255,0.2);
        padding-left:10px;padding-right:10px;}
    .header .article.large_nav>.content,
    .header .article.large_nav>.content>ul,
    .header .article.large_nav>.content>ul>li{flex-flow:column nowrap;justify-content: flex-start;
        height:auto;width:100%;}
    .large_nav>.content>ul:first-child>li>a::after{content:'+';display:inline-block;color:#ffffff;}
    .large_nav>.content>ul:first-child>li>a{display:flex;flex-flow:row nowrap;justify-content:space-between;}
    .header .article.small_nav>.content{justify-content:flex-start;height:auto;width:100%;margin:0;}
    .header .article.small_nav>.content>ul{
        flex:1;flex-flow:column nowrap;justify-content:flex-start;align-items:flex-start;}

    .header .article.small_nav>.content>ul>li{padding:6px 10px;}
    .header .article.small_nav>.content>ul>li:last-child{display:none;}
    .header .article.small_nav>.content>ul>li>a{font-size:12px;}
    .nav{height:0;overflow:hidden;}
    .nav.active{height:auto;}
    .car_list,.sub_nav{position:static;transform:translateX(0);}
    .large_nav .content{height:auto;}
    
    .sub_nav{flex-flow:column nowrap;align-items:flex-start;
        padding-left:0;padding-right:0;padding-bottom:0;}
    .sub_nav>li{width:100%;border-bottom:1px solid rgba(0,0,0,0.1);padding:20px 0;}
    .sub_nav>li:last-of-type{border-bottom: none;}
    .sub_nav>li>a{font-size:small;}

    .swiper-button-prev,.swiper-button-next{display:none;}
    .main_slider_txt>h2{font-size:large;}
    .main_slider_txt>a{font-size:small;}
    .main_slider_img>img{width:200%;}
    .quick_nav_box{width:90%;}
    .quick_nav_box>.quick_nav{flex-flow:row wrap;}
    .quick_nav_box>.quick_nav>li{width:50%;height:50px;flex-flow:row nowrap;}
    .quick_nav_box>.quick_nav>li.quick_list01{width:100%;}
    .quick_nav>li::before{width:25px;height:25px;background-size:125px 50px;}
    .quick_nav>li:hover::before{background-position-y:-25px;}

    .wrap .event_channel{flex-flow: row wrap; justify-content: center;
        padding-left: 3%;}
    .event_channel{padding:0 0 20%;}
    .event_channel>.event_kia,.event_channel>.channel_kia{width: 100%;height: auto;}
    .event_kia .swiper-pagination.swiper-pagination-bullets{bottom: 80px;}

    .you_tube>.you_tube_link{width: 100%; height: 52vw;}
    .you_tube>.you_tube_txt{width: 100%; height: auto; padding: 50% 0 0 0; text-align: center;}
    .you_tube>.you_tube_txt p{border-top: 1px solid black; padding: 20px 0;font-size: 12px;}
    .you_tube>.you_tube_txt p span>a{font-size: 12px;}

    .news_notice>.kia_news,.news_notice>.notice{width: 100%;}
    .news_notice>.notice{padding: 100px 20px 0 20px;}
    .news_notice h5{font-weight: normal; font-size: normal;}
    .notice_txt>li{display:flex;flex-flow:row nowrap;justify-content:space-between;align-items:center;
        width: 100%;}
    .notice_txt>li:nth-child(2n+1){border-bottom: none; border-right: 1px solid rgba(0,0,0,0.2);}
    .notice_txt>li:nth-child(2){border-bottom: none;}

    .footer_top_right{display: none;}
    .footer_middle{display: none;}

    .footer_bottom_left{order: 2; padding-right: 0;width: 100%;}
    .footer_bottom::after{content: '한국'; display: inline-block; padding-left: 40px; height: 20px; color: white;
        background: url(../images/img_kor.jpg) no-repeat; line-height: 20px;background-size: 30px;
        font-weight: bold; cursor: pointer;}
    .footer_bottom_right{order: 1;width: 100%;padding: 30px 0 10px;}
}


    /* 639이하 */
    @media (max-width:639px){
        .car_list>li:last-child>p{
        width:45%;
        }
        .main_slider_txt>h2{
        font-size:medium;
        }
        .main_slider_txt>a{
        font-size:x-small;
        }
        .quick_nav>li>p {
        font-size: x-small;
        }
    }
  
  
    /* 479이하 */
    @media (max-width:479px){
        .main_slider_txt>h2{
        font-size:small;
        margin:14px 0;
        }
    }

  
    /* 360이하 */
    @media (max-width:359px){
        .car_list>li:last-child>p{
        width:100%;
        }
    }